.logo-container {
  width: 250px;
  /* height:450px; */
  /* border: 1px solid #e0e0e0; */
  padding: 10px;
  margin: 1% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
  box-sizing:border-box;
}

.image-block {
  width:325px;
  height:325px;
}

.image-name {
  color: red;
}

.image-title {
  color: #FFEEDB;
}


/* // Modal CSS // */
/* * {
  padding:0;
  margin:0;
  position:relative;
  box-sizing:border-box;
} */
/* html {
  height:100%;
  min-height:100%;
} */

.wrap {
  height:100%;
  top:0px;
}
svg {
  width:390px;
  height:390px;
  position:absolute;
  top:-75px;
  left:105px;
  margin:0 auto;
  display:block;
}
svg line {
  stroke-width:2px;
   stroke:rgba(2,162,239,1);
}
svg #svg_2 {
	stroke-dasharray: 1680;
  stroke-dashoffset: 1680;
}
svg #svg_4 {
	stroke-dasharray: 1680;
  stroke-dashoffset: -390;
}
svg #svg_3 {
	stroke-dasharray: 1680;
  stroke-dashoffset: -390;
}
svg #svg_5 {
	stroke-dasharray: 1680;
  stroke-dashoffset: -390;
}
@keyframes anim-dash {
  70% {
    stroke:rgba(2,162,239,1);
  }
  100% {
    stroke:#ffffff;
    stroke-dashoffset: 0;
    opacity:1;
  }
}

.overlay {
  background:rgba(0,0,0,.5);
  border: 1px solid #e0e0e0;
  width:69%;
  height:44%;
  position:absolute;
  top:10;
  left:10;
  opacity:0;
  z-index:-999;
}

.modal {
  position:absolute;
  width:300px;
  height:300px;
  top:50%;
  left:50%;
  transform:translate(-100%,-141%);
  color: #424242;
}

.modal-inner {
  position:absolute;
  top:-72px;
  left:108px;
  width:384px;
  height:384px;
  background-color: #0C466B;
  opacity:0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-close {
  float:right;
  z-index:+2;
  color:red;
  margin:5px 5px 0 0;
  font-size:20px;
  font-weight:800;
  text-decoration:none;
  text-align:center;
  line-height:20px;
  height:20px;
  width:20px;
}

.modal-inner h3 {
  display:block;
  text-align:center;
  font-size:22px;
  /* padding:20px 20px 10px 20px; */
}

.modal-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 385px;
  height: 35px;
}

.overlay:target .modal, .overlay:target {
  animation:display 1.5s forwards;
  z-index:auto;
}

.overlay:target .modal svg line{
  animation: anim-dash .8s forwards;
  animation-delay:.2s;
}

.overlay:target .modal .modal-inner {
  animation:display 1s forwards;
  animation-delay:.6s;
}

@keyframes display {
  to {
    opacity:1;
  }
}

a.modal-open {
  display:block;
  padding:15px;
  color:#424242;
  border: 1px solid #424242;
  background: #FFEEDB;
  font-weight:800;
  margin:0 auto;
  transform:translateY(100%);
  width:160px;
  border-radius:2px;
  text-align:center;
  text-decoration:none;
}